h1, h2, p {
  letter-spacing: 1.2px;
  font-weight: 200;
  line-height: 1.2em;
}
h1 {
  font-size: 3.5em;
}
h2 {
  font-size: 2em;
  text-align: center;
}
p {
  font-size: 1.6em;
  margin-top: -5px;
}
a.button {
  font-size: 1em !important;
  letter-spacing: 1.3px;
  font-weight: 200;
  margin-top: 25px;
}
ul {
  padding-left: 0;
}
li {
  font-size: 14px;
  list-style-type: none;
}
header {
  background: url(../img/intro.jpg) no-repeat;
  height: 560px;
  padding-top: 40px;
}
header .container {
  margin-left: 4%;
}
header p {
  margin-top: -15px;
}
#page-content article {
  padding: 50px 0;
  border-bottom: 1px solid #dbdbdb;
}
#page-content h1 {
  margin: 10px 0;
}
.featured-img {
  width: 100%;
  max-width: 370px;
  padding: 50px;
}
#store {
  padding: 40px 0 70px;
  text-align: center;
}
#store img:first-of-type {
  width: 200px;
}
footer {
  background: #f3f3f3;
  border-top: 1px solid #dbdbdb;
  padding: 20px 0 80px;
}
footer h3 {
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 16px;
  margin-bottom: 10px;
}
footer ul {
  margin: 0;
}
footer li {
  color: #999;
  font-weight: 600;
}
@media only screen and (min-width: 40.063em) {
  #page-content h1 {
    margin-top: 70px;
  }
  header .container {
    margin-left: 18%;
  }
  body {
    font-size: 110%;
  }
}